.signUpFormLogo{
  height: 200px;
  width: 200px;
  padding: 10px;
}
.signUpForm{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px black;
  padding: 30px;
  border-radius: 5px;
  color: brown;
}
.container-fluid1{
  padding: 30px;
  background-color: ivory;
  background-image: url(signupbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 
}
.input{
  background: none;
  border: none;
  border-bottom: solid 1px black;
 
}
.select{
  background: none;
  border: none;
  border-bottom: solid 1px black;
}
